/* =========================================== Initial Setup =========================================== */
:root {
  /* Background Colors */
  --bg-color-light: #eceff1;

  /* Font Colors */
  --white: #fff;
  --black: #000;
  
  /* Border Radius */
  --radius-round-mx: 50%;
  --radius-round-lg: 2rem;
  --radius-round-md: .8rem;
  --radius-round-sm: .5rem;
  
  /* Box Shadow */
  --box-shadow-dark: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  
  /* Margin And Padding */
  --base-margin: 1rem;
  --base-padding: 1rem;
}

body {
  margin: 0;
  background-color: var(--bg-color-light);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============================================= Base Classes ============================================= */
.text-center { text-align: center; }
.cursor-ptr { cursor: pointer; }

.pos-relative { position: relative; }
.pos-absolute { position: absolute; }

.full-width { width: 100% !important }
.full-height { height: 100% !important }
.full-width-height { width: 100% !important; height: 100% !important }

.top-left-center { top: 50%; left: 50% }

.hidden { display: none }
.overflow-hidden { overflow: hidden; }

/* ============================================== Main Styling ============================================== */
.round-large-btn {
  border-radius: var(--radius-round-lg);
}

/* Make All Icon's Pointer To Be Cursor */
i { 
  cursor: pointer; 
}

#recipe-search-box .input-field,
.recipe-input-field > .input-field {
  background-color: var(--white);
  border-radius: var(--radius-round-sm);
  box-shadow: var(--box-shadow-dark);
}

#recipe-update-box i, 
#recipe-toolbar i {
  background-color: var(--white);
  padding: .5rem;
  border-radius: var(--radius-round-mx);
  margin: 1.2rem .7rem 0rem;
}

#recipe-update-box i:hover,
#recipe-toolbar i:hover {
  transform: scale(0.96);
}

/* NoData Component */
.no-data {
  transform: translate(-50%, 50%);
}

.no-data > img {
  height: 230px;
  width: 230px;
}

/* Navbar Component */
#app-logo {
  height: 5rem;
  width: 5rem;
}

.auth-btn {
  padding: .5rem 1.2rem;
  border-radius: .3rem;
  background-color: #fff;
  font-weight: 500;
  border: 1px solid #de7945;
}

.auth-btn:disabled {
  opacity: 0.4;
  cursor: progress;
}

.auth-btn:hover {
  font-weight: 550;
  border: 2px solid #de7945;
  /* background-color: #e9f0f1; */
}

/* AddRecipeCard Component */
#add-recipe-card {
  height: 23.8rem !important;
  border: 2px dotted #546e7a;
  display: grid;
  place-content: center;
}

#add-recipe-card:hover {
  transform: scale(0.99);
  background-color: rgba(241, 241, 241, 0.1);
}

/* LoadingSpinner Component */
.loading-spinner {
  position: fixed;
}

/* RecipeSearchBox Component */
#recipe-search-box .input-field {
  margin: 1.8em 0 0.8em;
}

#recipe-search-box i {
  margin: 3px 0rem;
  border-right: 2px solid #78909c;
}

#recipe-search-input {
  border-bottom: 0 !important;
}

/* Authentication Pages */
.auth-container .input-field {
  margin: 3.5rem 0;
}

.auth-container > div {
  margin: 2.5rem auto;
  padding: 1rem 2.5rem 3rem;
  background: #fbf7f7;
  border-radius: var(--radius-round-md);
  box-shadow: var(--box-shadow-dark);
}

/* Home Page */
.recipe-card {
  min-height: 22rem !important;
  min-width: 20vw !important;
  margin: var(--base-margin);
  border-radius: var(--radius-round-sm);
}

.recipe-card .recipe-img {
  height: 15rem !important;
}

.recipe-card .card-action {
  margin-top: 2rem;
  /* To center the "Read Recipe" text */
  /* display: flex;
  justify-content: center; */
}

.recipe-card .card-title {
  text-transform: capitalize;
}

.recipe-card .card-title i {
  right: 1% !important;
}

/* Recipe Page */
#recipe-page div.img-box {
  margin: 1.5rem auto;
  border-radius: var(--radius-round-md);
}

#recipe-page .recipe-image {
  height: 20rem;
  margin: 1.5rem auto;
}

#recipe-description {
  font-size: 1.5rem;
  width: 82%;
  margin: 1.2rem .3rem;
}

#procedure-box > h4 {
  font-size: 2.3rem;
  margin: 2rem 0;
  font-weight: 500;
}

#ingredients-box {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

#ingredients-box .ingredient {
  margin: .4rem .5rem;
  padding: .4rem .6rem;
  border-radius: var(--radius-round-sm);
  /* background-color: #90b7c8; */
  background-color: #80b1c7;
}

/* AddRecipe Page */
#add-recipe-container > form {
  margin-top: 4em;
}

.input-field-icon {
  width: 8%;
  height: 8%;
}

.input-field-label {
  font-size: 1.2rem;
  cursor: text;
  font-weight: 480;
  color: var(--black);
  margin: 0 var(--base-margin);
}

.recipe-input-field {
  margin: var(--base-margin) 0;
}

.recipe-input-field > .input-field {
  margin: 1.8rem auto;
  overflow: hidden;
}

.recipe-input-field > .input-field input {
  padding: 3px 12px;
  border: 0 !important
}

.procedure-input-field .input-field-icon {
  width: 7%;
  height: 7%;
}

.procedure-input-field .input-field-label {
  font-size: 1.7rem;
  font-weight: 50;
}

.procedure-input-field > .input-field i {
  margin: .3rem .6rem;
}
